:root {
  --linear1: linear-gradient(90deg, rgba(238,130,238,1) 0%, rgba(128,0,128,1) 100%);
  --violet: #EE82EE;
  --purple: #800080;
  --lavender: #E6E6FA;
  --rockies-purple: #33006F; 
  --black-gray: #151515;
}

body {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  background: var(--lavender);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--black-gray);
}

.header-container {
  display: flex;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#scores {
  display: flex;
  justify-content: center;
  align-items: center;
}

#playerOneScoreContainer,
#playerTwoScoreContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

#playerOneScoreContainer div,
#playerTwoScoreContainer div {
  margin: 0.5rem;
}


.gameboard-container {
  display: grid;
  margin: 3rem 0 2rem 0;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
  /* border: 2px solid var(--rockies-purple); */
  /* width: 90vw;
  height: 90vw; */
  width: 300px;
  height: 300px;
}

.cell {
  display: flex;
  justify-content: center;
  justify-items: center;
  border: 2px solid var(--violet);
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3)
 {
  border-top: 0;
}

.cell:first-child,
.cell:nth-child(4),
.cell:nth-child(7) {
  border-left: 0;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
  border-right: 0;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-bottom: 0;
}

.gameboard-element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--violet);
  border: 2px solid var(--rockies-purple);
}

.playerX {
  z-index: -1;
  height: 90px;
  width: 90px;
  border: 0;
  border-radius: 5px;
  position: relative;
  
}

.playerX::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "\274c"; /* actual color */
  font-size: 50px; 
  /* color: var(--rockies-purple); */
  line-height: 100px;
  text-align: center;

}

.playerO {
  align-self: center;
  z-index: -2;
  height: 45px;
  width: 45px;
  position: relative;
  border: 7px solid var(--rockies-purple);
  border-radius: 50%
}

#gameChoiceButtons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-self: center;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

#playerButtons {
  margin: 1rem;
}

.button {
  display: flex;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: var(--lavender);
  border: 2px solid var(--black-gray);
  cursor: pointer;
  width: 200px;
  justify-content: center;
  align-self: center;
}

.button:hover {
  opacity: 0.6;
}

#computerButtons {
  margin: 1rem;
}


#restartButtons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-self: center;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

#resetButton {
  margin: 1rem;
}

#goBackButton {
  margin: 1rem;
}

#playerNamesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
} 

#playerNamesContainer form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#playerNamesContainer form div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1rem;
}

#playerNamesContainer form div label{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

}

#playerNamesContainer form div input{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem 0 0.5rem 0;
  padding: 0 0 0 0.5rem;
  background-color: var(--lavender);
  border: 2px solid var(--black-gray);
  cursor: pointer;
  width: 200px;
  max-width: 200px;
  height: 35px;

}

#playerGameStartButton {
  margin: 1rem;
  width: 212px;
}
